/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container{
    margin-left:5%;
    margin-right:5%;
    max-width:960px;
}
#topbar{

    height:220px;
    background-color:#51473d;
    color:#eae7d2;
    text-align:right;
    background-position: 0 15px;
    background-image:url(pics/coffey.jpg);
    background-repeat:no-repeat;
    background-size: 960px 220px;
    font-style:italic;
    
    
}


#menu{
   background-color:#51473d;
   overflow:auto;
   
}
    
#menu ul li {
    float:left;
    text-decoration:none;
    list-style-type:none;
}

#menu ul a {
    font-size:18px;
    margin-right:2px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    background-color:#797066;
    text-decoration:none;
    color:#eae7d2;
    letter-spacing:2px;
    font-family:Times;
}

#menu ul li a{
    display:block;
     text-transform:capitalize;
}

#menu a{
    display:none;
}

#menu a:hover {
    color:#9e808b;
    background-color:#eae7d2;
}

#menu ul .active a {
Background-color:#eae7d2;
color:#9e808b;
    
}


#maincontent{
    width:560px;
    float:left;
    height:500px;
    background-color:#eae7d2;
    line-height:30px;
    font-size:14px;
}

img{
  float:left;
}
        
#subcontent{

   width:389px;
   float:left;
   height:500px;
   background-color:#eae7d2;
   border-left:1px dashed gray;
   line-height:30px;
   padding-left:10px;
   }
#subcontent a{
        
        color:#797066;
        font-size:17px;
        }

#subcontent ul li{
    list-style-type:none;
}

#bottomcontent {

    float:left;
    width:960px;
    background-color:#eae7d2;
    font-style:italic;
}

/*typografi*/
h1 {
    font-family:times, sans-serif;
    color:#797066;
    font-size:30px;
} 

p {
  font-family:Verdana, "TimesNewRoman", sans-serif;
  color:#797066;
  }

h2{
    font-size:14px;
    font-family:Times, sans-serif;
    
}




