/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container{
    margin-left:5%;
    margin-right:5%;
    max-width:960px;
}
#topbar{

    height:250px;
    background-color:#51473d;
    color:#eae7d2;
}
#topbar{
    
}

#menu{
   background-color:#51473d;
   overflow:auto;
   
}
    
#menu ul li {
    float:left;
    text-decoration:none;
    list-style-type:none;
}

#menu ul a {
    font-size:18px;
    margin-right:2px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    background-color:#797066;
    text-decoration:none;
    color:#eae7d2;
    letter-spacing:2px;
    font-family:Times;
}

#menu ul li a{
    display:block;
}

#menu a{
    display:none;
}

#menu a:hover {
    color:#9e808b;
    background-color:#eae7d2;
}

#menu ul .active a {
Background-color:#eae7d2;
color:#9e808b;
    
}


#maincontent{
    width:560px;
    float:left;
    height:500px;
    background-color:#eae7d2;
    
}

#subcontent{

   width:396px;
   float:left;
   height:500px;
   background-color:#eae7d2;
   border-left:1px dashed gray;
   }

#bottomcontent {

    float:left;
    width:956px;
    background-color:#eae7d2;
}

h1 {
    font-family:times, sans-serif;
    color:#797066;
} 

#topbar p{
    float:right;
}
